body {
  margin: 0;
  padding: 0;
  background-color: #2b2b33;
  overflow-x: hidden;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  top: 0px;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  margin: 0px;
  width: 100%;
}

nav {
  top: 0px;
  position: sticky;
  background-color: #38a3a5;
  z-index: 10;
  flex: 1 10 auto;
  display: flex;
  align-items: center;
  height: 130px;
}

nav > ul > li > a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

nav > ul > li {
  display: inline-block;
  width: 250px;
  height: 50px;
  margin: 10px;
  line-height: 50px;
}

nav > ul > li:hover {
  background-color: #91d0d1;
}

nav > div {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  font-family: Calibri;
  color: #fff;
  font-size: 40px;
  width:100%;
}

nav > div > a {
  text-decoration: none;
  color: #fff;
}

nav img {
  min-width: 50px;
  max-width: 100px;
}
main {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  padding: 10px;
  grid-gap: 40px;
  width: 1200px;
  margin: auto;
  margin-top: 60px;
  color:#fff;
}

main>div{
    display:flex;
    flex-direction:column;
}

main > div> div {
  height: 350px;
  
  text-align: center;
  
}

#burger {
  position: absolute;
  width: 400px;
  height: 100px;
  background-color: #fff;
  margin-right: 0;
  right: 0;
  top: 130px;
  display: none;
}
