body{
    margin:0;
    padding:0;
    background-color: #2B2B33;
    
}


nav>ul {
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    top: 0px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin:0px;
    width: 100%;
}

nav {
    top: 0px;
    position: sticky;
    background-color: #38A3A5;
    z-index: 10;
    flex: 1 10 auto;
    display: flex;
    align-items: center;
}


nav>ul>li>a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 30px;

}

nav>ul>li {
    display: inline-block;
    width: 250px;
    height: 50px;
    margin: 10px;
    line-height: 50px;


}

nav>ul>li:hover {
    background-color: #91d0d1;
}

nav>div{
    display: flex;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Calibri;
    color: #fff;
    font-size: 40px;
}

nav>div>a{
    text-decoration: none;
    color: #fff;
}

nav img{
    min-width: 50px;
    max-width: 100px;
}

main>div>input{
    width: 50%;
    height: 10%;
    font-size: 100%;
    min-height: 30px;
}
